{% extends "dashboard/index.html" %}

{% block title %}
<h3>{{ titulo }}</h3>
<h5>Listado de {{ titulo }}</h5>
{% endblock %}
{% block agregar %}<li class="menu-option__item"><a href="{% url 'mantenedor:agregar_prd' %}"><div><i class="fa fa-plus-circle"></i><span>Agregar</span></div></a>{% endblock %}</li>

{% block main_content %}
{{ mensaje }}
{% if lista %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Proveedor</th>
            <th>Valor Neto</th>
            <th>Descuento</th>
            <th>Categoria</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for campo in lista %}
        <tr>
              <td>{{ campo.nombre }}</a> </td>
              <td>{{ campo.proveedor }}</a>
              <td>${{ campo.valor }}</a>
              <td>{{ campo.descuento }}%</a>
              <td>{{ campo.categoria }}</a>
              <td><a href="#" class="changelink">Editar</a></td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No existen Proveedores.</p>
{% endif %}
{% endblock %}
