<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Erpyme</title>
<!--Import Google Roboto Font-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<!-- CORE CSS-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %} {% endblock %}
</body>
<!-- SCRIPTS-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<script src="{% static 'js/vue.min.js' %}"></script>-->
<script src="{% static 'js/main.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('select').material_select();
});

function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^agregar_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function closePopup(win, newID, newRepr, id) {
  var o = new Option(newRepr, newID, "true","true");
  /// jquerify the DOM object 'o' so we can use the html method
  $(o).html(newRepr);
  $(id).append(o);
  $('select').material_select();
  win.close();
}
</script>

</html>
