{% extends "dashboard/index.html" %} {% block main_content %}

<h5> {{ titulo }}</h5>

<div class="divider"></div>
{% if lista %}
<table class="striped">
    <thead>
        <tr>
            <th>Rut</th>
            <th>Razón Social</th>
            <th>Contacto</th>
            <th>Email</th>
            <th>Comuna</th>
            <th>Registrado </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for campo in lista %}
        <tr>
              <td>{{ campo.rut }}</a> </td>
              <td>{{ campo.rsocial }}</td>
              <td>{{ campo.contacto }}</a>
              <td>{{ campo.email }}</a>
              <td>{{ campo.comuna }}</a>
              <td>{{ campo.fecha }}</a>
              <td><a href="{% url 'mantenedor:editar_cli' id=campo.id %}">Editar</a></td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No existen Proveedores.</p>
{% endif %}

<button type="button" onClick="window.location.href='{% url 'mantenedor:agregar_cli' %}'" class="save btn btn-default">Agregar Cliente</button>
{% endblock %}
